<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- Stylesheets -->
		<link rel="Stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600&display=swap" rel="stylesheet">

		<!-- <title>Cars</title> -->
		<title><%= title%></title>
	</head>

	<body>

		<div id="loadingscreen">
	<div class="circle1"></div>
		<div class="circle2"></div>

		</div>
		<div id="wrapper">

			<!-- Navbar Start -->
			<%- include('partials/navbar.ejs') %>
			<!-- Navbar Start -->

			<!-- Header/Home Start -->
			<%- include('partials/header_home.ejs') %>
			<!-- Header/Home Slut -->

			<!-- Brands Sektion Start -->
			<%- include('partials/brands.ejs') %>
			<!-- Brands Sektion Slut -->

			<!-- About Sektion Start -->
			<%- include('partials/about.ejs') %>
			<!-- About Sektion Slut -->
			
			<!-- Contact/Footer Sektion Start -->
			<%- include('partials/contact_footer.ejs') %>
			<!-- Contact/Footer Sektion Slut -->

		</div>

		<!-- Scripts Start -->
		<%- include('partials/scripts.ejs') %>
		<!-- Scripts Slut -->
		
	</body>
</html>